In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("demo_movie.csv")
df

,movie_id,title,vote_average,popularity,vote_count,budget,revenue,runtime,genres,keywords,companies,languages,countries
0,99,NaN,8.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,Avatar,7.8,82.3,15000.0,237000000.0,2.800000e+09,162.0,NaN,rebellion,20th Century Fox,English,United States
2,1,Inception,8.8,90.2,21000.0,160000000.0,8.290000e+08,148.0,"Action, Science Fiction",dream,Warner Bros.,English,United States
3,2,The Matrix,8.7,88.5,18000.0,63000000.0,4.650000e+08,136.0,Action,virtual reality,Warner Bros.,English,United States
4,3,Interstellar,8.6,85.0,19500.0,165000000.0,6.770000e+08,169.0,"Science Fiction, Adventure",space,Legendary Pictures,English,United States
5,5,Spirited Away,8.5,75.6,13000.0,15000000.0,3.550000e+08,125.0,Fantasy,magic,Studio Ghibli,Japanese,Japan
6,6,The Godfather,9.2,70.1,21000.0,6000000.0,2.460000e+08,175.0,Crime,mafia,Paramount Pictures,English,United States
7,7,The Dark Knight,9.0,95.0,22000.0,185000000.0,1.005000e+09,152.0,"Action, Crime",joker,Warner Bros.,English,United States
8,8,Parasite,8.6,78.3,14000.0,11400000.0,2.580000e+08,132.0,Drama,class divide,Barunson E&A,Korean,South Korea
9,9,The Shawshank Redemption,9.3,85.7,24000.0,25000000.0,7.300000e+07,142.0,Drama,prison,Castle Rock Entertainment,English,United States
10,10,The Lion King,8.5,80.0,17000.0,45000000.0,9.680000e+08,88.0,Animation,lion,Disney,English,United States

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      11 non-null     int64
 1   title         10 non-null     object
 2   vote_average  11 non-null     float64
 3   popularity    10 non-null     float64
 4   vote_count    10 non-null     float64
 5   budget        10 non-null     float64
 6   revenue       10 non-null     float64
 7   runtime       10 non-null     float64
 8   genres        9 non-null      object
 9   keywords      10 non-null     object
 10  companies     10 non-null     object
 11  languages     10 non-null     object
 12  countries     10 non-null     object
dtypes: float64(6), int64(1), object(6)
memory usage: 1.2+ KB

In [2]:
dataset = pd.read_csv("cleaned_data.csv")
dataset

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,original_language,overview,popularity,genres,production_companies,spoken_languages,keywords,production_countries
0,5,Four Rooms,5.784,2436,Released,1995-12-09T00:00:00.000Z,4257354,98,False,4000000,en,It's Ted the Bellhop's first night on the job....,15.2950,Comedy,"Miramax, A Band Apart",English,"hotel, new year's eve, witch, bet, sperm, hote...",united states of america
1,6,Judgment Night,6.533,302,Released,1993-10-15T00:00:00.000Z,12136938,109,False,21000000,en,"While racing to a boxing match, Frank, Mike, J...",13.5640,"Action, Crime, Thriller","Largo Entertainment, JVC",English,"drug dealer, chicago, illinois, escape, one ni...",united states of america
2,12,Finding Nemo,7.824,18061,Released,2003-05-30T00:00:00.000Z,940335536,100,False,94000000,en,"Nemo, an adventurous young clownfish, is unexp...",55.4560,"Animation, Family",Pixar,English,"sydney, australia, parent child relationship, ...",united states of america
3,13,Forrest Gump,8.477,25409,Released,1994-06-23T00:00:00.000Z,677387716,142,False,55000000,en,A man with a low IQ has accomplished great thi...,92.6930,"Comedy, Drama, Romance","Paramount, The Steve Tisch Company, Wendy Fine...",English,"vietnam war, vietnam veteran, mentally disable...",united states of america
4,15,Citizen Kane,8.015,5034,Released,1941-04-17T00:00:00.000Z,23218000,119,False,839727,en,"Newspaper magnate, Charles Foster Kane is take...",28.2180,"Mystery, Drama","Mercury Productions, RKO Radio Pictures",English,"media tycoon, florida, art collector, newspape...",united states of america
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8436,1418175,A solution that pleases all.,6.000,1,Released,1986-01-01T00:00:00.000Z,20000,96,False,18000,ar,It talks about a wife who seeks to keep her de...,0.6000,Drama,مصر للإستوديوهات والإنتاج السينمائي,Arabic,"tenant, family dynamics",egypt
8437,1440649,Who’s Watching Who?,10.000,1,Released,2025-02-13T00:00:00.000Z,300,10,False,30,en,"On a night out with his friends, a lovesick pr...",1.4000,"Comedy, Drama",Forrest Fusion Studios,"English, Malayalam","playful, lighthearted, hilarious",india
8438,1448288,Karina,10.000,1,Released,2024-06-04T00:00:00.000Z,1500,9,False,1000,es,Beloved lunch lady Karina Shango Guerra reflec...,0.6000,Documentary,Ung Media,"Spanish, Swedish","leaving one's family, admiring",sweden
8439,1449949,Reverie,9.000,1,Released,2024-03-06T00:00:00.000Z,30,53,False,80,tl,A friend group attempts to keep their bond ali...,0.6000,"Drama, Thriller",PelikUNA Productions,"English, Tagalog","philippines, reverie, sjps, 6th cane film fest...",philippines
8440,1469993,Metal Strings,10.000,1,Released,2024-05-05T00:00:00.000Z,10,28,False,700,en,"Nara stands as a member of Reign in Slumber, a...",0.2429,"Documentary, Music, History","POLY IMG, KAMAKOR Media","Khmer, English","metal, strings, metal strings, cambodian metal...",cambodia

In [3]:
dataset[["title", "genres", "keywords", "overview"]]

,title,genres,keywords,overview
0,Four Rooms,Comedy,"hotel, new year's eve, witch, bet, sperm, hote...",It's Ted the Bellhop's first night on the job....
1,Judgment Night,"Action, Crime, Thriller","drug dealer, chicago, illinois, escape, one ni...","While racing to a boxing match, Frank, Mike, J..."
2,Finding Nemo,"Animation, Family","sydney, australia, parent child relationship, ...","Nemo, an adventurous young clownfish, is unexp..."
3,Forrest Gump,"Comedy, Drama, Romance","vietnam war, vietnam veteran, mentally disable...",A man with a low IQ has accomplished great thi...
4,Citizen Kane,"Mystery, Drama","media tycoon, florida, art collector, newspape...","Newspaper magnate, Charles Foster Kane is take..."
...,...,...,...,...
8436,A solution that pleases all.,Drama,"tenant, family dynamics",It talks about a wife who seeks to keep her de...
8437,Who’s Watching Who?,"Comedy, Drama","playful, lighthearted, hilarious","On a night out with his friends, a lovesick pr..."
8438,Karina,Documentary,"leaving one's family, admiring",Beloved lunch lady Karina Shango Guerra reflec...
8439,Reverie,"Drama, Thriller","philippines, reverie, sjps, 6th cane film fest...",A friend group attempts to keep their bond ali...
8440,Metal Strings,"Documentary, Music, History","metal, strings, metal strings, cambodian metal...","Nara stands as a member of Reign in Slumber, a..."

In [10]:
real_data = pd.read_csv("D:/Github_ThisPC/TMDB_RecoFlow/airflow/data/cbf_movie.csv")
real_data.head()

,title,genres,keywords,overview
0,Sons of Rizk (2015),"Crime, Comedy, Action","sibling relationship, crime spree",Four brothers committing crimes with a promise...
1,Capernaum (2018),Drama,"child bride, slum, poverty, refugee, life in t...","Zain, a 12-year-old boy scrambling to survive ..."
2,Amod Faqrey (2016),"Family, Comedy","amod faqrey, spinal column, عمود فقري",A young man in his fourth decade looking for a...
3,Mako (2021),"Thriller, Adventure, Drama","shark, shark attack, mako",Eight documentary makers decide to go to the l...
4,A solution that pleases all. (1986),Drama,"family dynamics, tenant",It talks about a wife who seeks to keep her de...

In [11]:
real_data.count()

title       8441
genres      8441
keywords    8441
overview    8441
dtype: int64

In [12]:
real_data_dup = real_data[real_data.duplicated('title', keep=False)]
real_data_dup

,title,genres,keywords,overview
823,Dany (2018),Comedy,caméra cachée,"Dany, the king of petty thefts, did not wait u..."
840,Dany (2018),Drama,"gay theme, lgbt","The descent into hell of Dany, a young homeles..."

In [ ]:
real_data[real_data["title"] == "Dany"]

,title,genres,keywords,overview
31,Poltergeist,Horror,"haunted house, poltergeist, remake, duringcred...",A family's suburban home is invaded by angry s...
2178,Poltergeist,Horror,"haunted, ghostbuster, power of goodness, paran...","Steve Freeling lives with his wife, Diane, and..."

In [ ]:
df = pd.read_csv("demo_movie.csv")

df[5:].to_parquet('cbf_movie_demo2.parquet')

In [8]:
demo1 = df[1:5]
demo1.to_parquet('cbf_movie_demo1.parquet')

In [9]:
demo2 = df[5:]
demo2.to_parquet('cbf_movie_demo2.parquet')

In [11]:
df1= pd.read_parquet('cbf_movie_demo1.parquet')
df1

,movie_id,title,vote_average,popularity,vote_count,budget,revenue,runtime,genres,keywords,companies,languages,countries
1,4,Avatar,7.8,82.3,15000.0,237000000.0,2.800000e+09,162.0,None,rebellion,20th Century Fox,English,United States
2,1,Inception,8.8,90.2,21000.0,160000000.0,8.290000e+08,148.0,"Action, Science Fiction",dream,Warner Bros.,English,United States
3,2,The Matrix,8.7,88.5,18000.0,63000000.0,4.650000e+08,136.0,Action,virtual reality,Warner Bros.,English,United States
4,3,Interstellar,8.6,85.0,19500.0,165000000.0,6.770000e+08,169.0,"Science Fiction, Adventure",space,Legendary Pictures,English,United States

In [12]:
df2= pd.read_parquet('cbf_movie_demo2.parquet')
df2

,movie_id,title,vote_average,popularity,vote_count,budget,revenue,runtime,genres,keywords,companies,languages,countries
5,5,Spirited Away,8.5,75.6,13000.0,15000000.0,3.550000e+08,125.0,Fantasy,magic,Studio Ghibli,Japanese,Japan
6,6,The Godfather,9.2,70.1,21000.0,6000000.0,2.460000e+08,175.0,Crime,mafia,Paramount Pictures,English,United States
7,7,The Dark Knight,9.0,95.0,22000.0,185000000.0,1.005000e+09,152.0,"Action, Crime",joker,Warner Bros.,English,United States
8,8,Parasite,8.6,78.3,14000.0,11400000.0,2.580000e+08,132.0,Drama,class divide,Barunson E&A,Korean,South Korea
9,9,The Shawshank Redemption,9.3,85.7,24000.0,25000000.0,7.300000e+07,142.0,Drama,prison,Castle Rock Entertainment,English,United States
10,10,The Lion King,8.5,80.0,17000.0,45000000.0,9.680000e+08,88.0,Animation,lion,Disney,English,United States

In [13]:
final_df = pd.read_parquet('final_cbf_movie.parquet')
final_df

,movie_id,title,vote_average,popularity,vote_count,budget,revenue,runtime,genres,keywords,companies,languages,countries
0,4,Avatar,7.8,82.3,15000.0,237000000.0,2.800000e+09,162.0,None,rebellion,20th Century Fox,English,United States
1,1,Inception,8.8,90.2,21000.0,160000000.0,8.290000e+08,148.0,"Action, Science Fiction",dream,Warner Bros.,English,United States
2,2,The Matrix,8.7,88.5,18000.0,63000000.0,4.650000e+08,136.0,Action,virtual reality,Warner Bros.,English,United States
3,3,Interstellar,8.6,85.0,19500.0,165000000.0,6.770000e+08,169.0,"Science Fiction, Adventure",space,Legendary Pictures,English,United States
4,5,Spirited Away,8.5,75.6,13000.0,15000000.0,3.550000e+08,125.0,Fantasy,magic,Studio Ghibli,Japanese,Japan
5,6,The Godfather,9.2,70.1,21000.0,6000000.0,2.460000e+08,175.0,Crime,mafia,Paramount Pictures,English,United States
6,7,The Dark Knight,9.0,95.0,22000.0,185000000.0,1.005000e+09,152.0,"Action, Crime",joker,Warner Bros.,English,United States
7,8,Parasite,8.6,78.3,14000.0,11400000.0,2.580000e+08,132.0,Drama,class divide,Barunson E&A,Korean,South Korea
8,9,The Shawshank Redemption,9.3,85.7,24000.0,25000000.0,7.300000e+07,142.0,Drama,prison,Castle Rock Entertainment,English,United States
9,10,The Lion King,8.5,80.0,17000.0,45000000.0,9.680000e+08,88.0,Animation,lion,Disney,English,United States